@model IEnumerable<WebQuanLiCuaHangBanOto.Models.Hoadon>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteConfirmed</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idhd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idkh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idnv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idhd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idkh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idnv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Idhd}) |
                @Html.ActionLink("Details", "Details", new {  id=item.Idhd }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Idhd})
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
