@model IEnumerable<WebQuanLiCuaHangBanOto.Models.Danhgia>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteConfirmed</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Iddg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idkh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idsp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThangDiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedBack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayFb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Iddg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idkh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idsp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThangDiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedBack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayFb)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.Iddg}) |
                @Html.ActionLink("Details", "Details", new {  id=item.Iddg }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Iddg })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
