@model IEnumerable<WebQuanLiCuaHangBanOto.Models.Baohanh>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteConfirmed</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idbh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idsp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayHhbh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idbh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idsp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayHhbh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Idbh }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Idbh }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Idbh })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
